:root {
--primary-color: #006D77;
--secondary-color: #83C5BE;
--accent1-color: #EDF6F9;
--accent2-color: #E29578;
}

a {
    text-decoration: none;
    color: var(--accent2-color);
}

/* BODY */
body{

    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid; 
    grid-template-columns: 1.5fr 2fr;    
}
header a {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.3rem;
}
header nav {
    align-items:center;
    display: flex;
}
header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin: 0 10px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: "Mona Sans";
}



/* MAIN */
main{
}

/* MAIN -> Hero */
.hero {
    position: relative;
    display: block;
}
.hero img {
    display:block;
    height: auto;
    width: 100%;
    
}
.hero article {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.6); 
    color: var(--accent1-color);
    padding: 10px;
    width: 80%;
}
.hero article p {
    text-align: justify;
}
.hero h1 {
    position: absolute;
    color: var(--accent1-color);
    background-color: rgba(0, 0, 0, 0.6); 
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5em;
    padding: 5px;
    width: 60%;
    text-align: center;
}
.hero article img {
    float: right;
    margin-left: 10px;
    width: 150px;
    height: auto;
    object-fit: cover;
    min-width: 150px;
}

.history {
    /* background-color: var(--accent1-color); */
}
.history h2 {
    font-size: 3.5em;
    text-align: center;
}
.history article {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
}
.history img {
    width: 100%;
}
.history p {
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.adventure h2 {
    font-size: 3.5em;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
.gallery img {
    width: 180px;
    height: 150px;
    object-fit: cover;
}
.gallery figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--secondary-color);
}
.copy {
    text-align: center;
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.max-cont {
    max-width: 100%;
    align-items: center;
}



form {
    width: 75%;
    margin: 30px auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: Josefine Sans;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.column4 {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}
.text-label {
    text-align: center;
}

.profile-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section h2 {
    font-size: 2em;
    text-align: center;
    font-family: "Mona Sans";
    background-color: var(--accent2-color);
    margin: 20px auto;
}

section {
    margin: 40px auto;
}