:root {
    --text-align: center;
    --height: auto;
}
main {
    max-width: 840px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 18rem;
    margin: 1rem;
    border: 2px solid rgba(0,0,0,0.4);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}
aside img {
    width: 200px;
    height: var(--height);
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(text-align);
}