:root {
    --text-align: center;
}
body {
 
}
main {
    max-width: 840px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
=
main img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    padding: 0;
}
p {
    padding: 0;
}
aside {
    width: 40rem;
    margin: 0 auto;
    border: 2px solid rgba(0,0,0,0.4);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}
aside img {
    width: 500px;
    height: auto;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}